In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from tqdm.auto import tqdm

%matplotlib inline

c:\Users\Sultan\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Датасет содержит текста и описание вида депрессии

In [10]:
depseverity = pd.read_csv(r'DepSeverity\train.csv')
depseverity.head()

                                                post depression_kind
0  He said he had not felt that way before, sugge...            mild
1  Hey there r/assistance, Not sure if this is th...         minimum
2  My mom then hit me with the newspaper and it s...         minimum
3  until i met my new boyfriend, he is amazing, h...            mild
4  October is Domestic Violence Awareness Month a...        moderate

In [11]:
depseverity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post             3553 non-null   object
 1   depression_kind  3553 non-null   object
dtypes: object(2)
memory usage: 55.6+ KB

Датасет содержит данные про наличие депрессии, сабреддиты про различные расстройства

In [24]:
dreaddit = pd.read_csv('dreaddit-train.csv')
dreaddit.head()

,subreddit,post_id,sentence_range,text,id,label,confidence,social_timestamp,social_karma,syntax_ari,...,lex_dal_min_pleasantness,lex_dal_min_activation,lex_dal_min_imagery,lex_dal_avg_activation,lex_dal_avg_imagery,lex_dal_avg_pleasantness,social_upvote_ratio,social_num_comments,syntax_fk_grade,sentiment
0,ptsd,8601tu,"(15, 20)","He said he had not felt that way before, sugge...",33181,1,0.8,1521614353,5,1.806818,...,1.000,1.1250,1.0,1.77000,1.52211,1.89556,0.86,1,3.253573,-0.002742
1,assistance,8lbrx9,"(0, 5)","Hey there r/assistance, Not sure if this is th...",2606,0,1.0,1527009817,4,9.429737,...,1.125,1.0000,1.0,1.69586,1.62045,1.88919,0.65,2,8.828316,0.292857
2,ptsd,9ch1zh,"(15, 20)",My mom then hit me with the newspaper and it s...,38816,1,0.8,1535935605,2,7.769821,...,1.000,1.1429,1.0,1.83088,1.58108,1.85828,0.67,0,7.841667,0.011894
3,relationships,7rorpp,"[5, 10]","until i met my new boyfriend, he is amazing, h...",239,1,0.6,1516429555,0,2.667798,...,1.000,1.1250,1.0,1.75356,1.52114,1.98848,0.50,5,4.104027,0.141671
4,survivorsofabuse,9p2gbc,"[0, 5]",October is Domestic Violence Awareness Month a...,1421,1,0.8,1539809005,24,7.554238,...,1.000,1.1250,1.0,1.77644,1.64872,1.81456,1.00,1,7.910952,-0.204167

In [25]:
dreaddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838 entries, 0 to 2837
Columns: 116 entries, subreddit to sentiment
dtypes: float64(106), int64(6), object(4)
memory usage: 2.5+ MB

Данные с реддита, таргет кодируется так: 

0 = Stress

1 = Depression

2 = Bipolar disorder

3 = Personality disorder

4 = Anxiety

In [17]:
reddit_mental = pd.read_csv('data_to_be_cleansed.csv',index_col=0)
reddit_mental.head()

,text,title,target
0,Welcome to /r/depression's check-in post - a p...,"Regular check-in post, with information about ...",1
1,We understand that most people who reply immed...,Our most-broken and least-understood rules is ...,1
2,Anyone else just miss physical touch? I crave ...,"I haven’t been touched, or even hugged, in so ...",1
3,I’m just so ashamed. Everyone and everything f...,Being Depressed is Embarrassing,1
4,I really need a friend. I don't even have a si...,I'm desperate for a friend and to feel loved b...,1

In [18]:
reddit_mental.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5957 entries, 0 to 1187
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5607 non-null   object
 1   title   5957 non-null   object
 2   target  5957 non-null   int64
dtypes: int64(1), object(2)
memory usage: 186.2+ KB

Датасет содержит данные о текстах и соответствующих им типах суицидальных наклонностей

In [7]:
cssrs = pd.read_csv(r'CSSRS\train.csv')
cssrs.head()

                                                post suicide_kind
0  ['Its not a viable option, and youll be leavin...   Supportive
1  ['It can be hard to appreciate the notion that...     Ideation
2  ['Hi, so last night i was sitting on the ledge...     Behavior
3  ['I tried to kill my self once and failed badl...      Attempt
4  ['Hi NEM3030. What sorts of things do you enjo...     Ideation

In [8]:
cssrs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post          500 non-null    object
 1   suicide_kind  500 non-null    object
dtypes: object(2)
memory usage: 7.9+ KB

Содержит данные про наличие стресса и его тип

In [20]:
sad = pd.read_csv('SAD/train.csv')
sad.head()

,post,is_stress,stress_kind
0,?,No,Other
1,2 of my foster kittens died,Yes,Other
2,A better question would be what is not stressi...,Yes,Work
3,a big project at work.,No,Work
4,a certain person at work is being really angry...,Yes,Emotional Turmoil

In [21]:
sad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6850 entries, 0 to 6849
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   post         6850 non-null   object
 1   is_stress    6850 non-null   object
 2   stress_kind  6850 non-null   object
dtypes: object(3)
memory usage: 160.7+ KB

Описание чувств человека с численным таргетом, который отвечает за степень тяжести суицидальных мыслей и депрессии

In [26]:
cams = pd.read_csv(r'CAMS\train.csv')
cams.head()

,post,dep_sui_kind,dep_sui_exp
0,"in the end we all die, nothing we do means any...",5.0,"feel more and more empty,fear lonliness,get ti..."
1,Today would have been my best friend's 18th bi...,4.0,"best friend's birthday, he's gone, never supp..."
2,"So I couldn't feel any worse, and I've had eno...",5.0,"absolute minimal contact with, be more direct..."
3,I am 22 and have never had a girlfriend and ha...,4.0,"never had a girlfriend, rejected countless times"
4,I am almost certain that my depression is caus...,4.0,"eating out with family, what after that? Paren..."

In [6]:
cams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052 entries, 0 to 5051
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post          5048 non-null   object
 1   dep_sui_kind  5043 non-null   float64
 2   dep_sui_exp   4382 non-null   object
dtypes: float64(1), object(2)
memory usage: 118.5+ KB